<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact Manager</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="author" href="humans.txt">

	<link href="/css/cerulean/bootstrap.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
	<style>
	body {
		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	}
	</style>
	<link href="/css/bootstrap-responsive.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="../assets/js/html5shiv.js"></script>
          <![endif]-->

          <!-- Fav and touch icons -->
          <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
          <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
          <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
          <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
          <link rel="shortcut icon" href="../assets/ico/favicon.png">

      </head>
      <body>
        <div id="fb-root"></div>
      	<div id="navigation-bar" class="navbar navbar-fixed-top">
      		<div class="navbar-inner">
      			<div class="container">
      				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
      				</button>
      				<a class="brand" href="#">Contact Manager</a>
      				<div class="nav-collapse collapse">
      					<ul class="nav">
      						<li class="active"><a href="#">Home</a></li>
                  <li class="divider-vertical"></li>
                  <li>
                    <button class="btn" id="add-contact-form-button"><i class="icon-plus-sign"></i> Add Contact</button>
                  </li>
                  <li class="divider-vertical"></li>
                  <li id="login-with-facebook-container">
                    <button class="btn" id="login-with-facebook"><i class="icon-facebook"></i> Login with Facebook</button>
                  </li>
                  <li id="sync-with-facebook-container">
                    <button class="btn" id="sync-with-facebook"><img class="fb-self-pic" style="width:24px;height:24px" /> Sync with Facebook</button>
                  </li>
                  <li class="divider-vertical"></li>

                  <li id="main-loading-indicator"><i class="icon-spinner icon-spin icon-3x" style="color:white"></i></li>
                  <li>
                    <div class="btn-group" id="view-style">
                      <button class="btn" id="view-th-large"><i class="icon-th-large"></i></button>
                      <button class="btn" id="view-th"><i class="icon-th"></i></button>
                      <button class="btn active" id="view-list"><i class="icon-list"></i></button>
                    </div>
                  </li>
      					</ul>

      				</div><!--/.nav-collapse -->
      			</div>
      		</div>
      	</div>

      	<div class="container">

      		<h1>Contacts</h1>
          <div id="allContacts">

          </div>

      	</div> <!-- /container -->



        <!--
        ----------------------------------------------------
        Templates and Hidden Fields
        ----------------------------------------------------
        -->

        <script id="view-th-large-template" type="text/template">
        <li>
          <div class="contact-name"><%= first_name %> <%= last_name %></div>
          <div class="contact-email"><%= email %></div>
          <div class="contact-description"><%= description %></div>
        </li>
        </script>

        <script id="contactFormModal" type="text/template">
        <!-- Modal -->
        <form id="contactForm">

          <div class="control-group">
            <label for="first_name">First Name: </label>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <input id="first_name" type="text" class="personName" name="first_name" value="<%= data.first_name %>" />
            </div>
          </div>

          <div class="control-group">
            <label for="last_name">Last Name: </label>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <input id="last_name" type="text" class="personName" name="last_name" value="<%= data.last_name %>" />
            </div>
          </div>

          <div class="control-group">
            <label for="email">Email: </label>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
              <input id="email" type="email" name="email" value="<%= data.email %>" />
            </div>
          </div>

          <div class="control-group">
            <label for="email">Phone: (xxx-xxx-xxxx)</label>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-phone"></i></span>
              <input id="phone" type="tel" name="phone" value="<%= data.phone %>" pattern="\d{3}[\-]\d{3}[\-]\d{4}" />
            </div>
          </div>

          <div class="control-group">
            <label for="description">Description: </label>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-align-left"></i></span>
              <textarea id="description" name="description"><%= data.description %></textarea>
            </div>
          </div>

        </form>
        </script>

        <script id="thLargeContactsTemplate" type="text/template">
          <div class="thumbnail">
            <div class="fb-pic fb-pic-large">
              <i class="icon-user img-polaroid" style="font-size:280px"></i>
            </div>
            <div class="caption">
              <h3><%= data.first_name %> <%= data.last_name %></h3>
              <div class=""><i class="icon-envelope"></i> <a href="mailto:<%= data.email %>"><%= data.email %></a></div>
              <div class=""><i class="icon-phone"></i> <a href="tel:<%= data.phone %>"><%= data.phone %></a></div>
              <p><i class="icon-align-left"></i> <%= data.description %></p>
              <p>
                <button class="editContactFormButton btn btn-success"><i class="icon-edit"></i> Edit</button>
                <button class="delete btn btn-danger"><i class="icon-trash"></i> Delete</button>
              </p>
            </div>
          </div>
        </script>

        <!-- Template from: http://www.w3resource.com/twitter-bootstrap/thumbnails-tutorial.php -->
        <script id="thContactsTemplate" type="text/template">
          <div class="thumbnail">
            <div class="fb-pic fb-pic-medium">
              <i class="icon-user img-polaroid" style="font-size:150px"></i>
            </div>
            <div class="caption">
              <h5><%= data.first_name %> <%= data.last_name %></h5>
              <div class=""><i class="icon-envelope"></i> <a href="mailto:<%= data.email %>"><%= data.email %></a></div>
              <div class=""><i class="icon-phone"></i> <a href="tel:<%= data.phone %>"><%= data.phone %></a></div>
              <p><i class="icon-align-left"></i> <%= data.description %></p>
              <p>
                <button class="editContactFormButton btn btn-success"><i class="icon-edit"></i> Edit</button>
                <button class="delete btn btn-danger"><i class="icon-trash"></i> Delete</button>
              </p>
            </div>
          </div>
        </script>

        <script id="listContactsTemplate" type="text/template">
          <td>
            <div class="fb-pic fb-pic-small avatar">
              <i class="icon-user img-polaroid" style="font-size:24px"></i>
            </div>
          </td>
          <td><%= data.first_name %></td>
          <td><%= data.last_name %></td>
          <td><%= data.email %></td>
          <td><%= data.phone %></td>
          <td><%= data.description %></td>
          <td>
            <button class="editContactFormButton btn"><i class="icon-edit"></i> Edit</button>
          </td>
          <td>
            <button class="delete btn"><i class="icon-trash"></i> Delete</button>
          </td>
        </script>

        <script src="//connect.facebook.net/en_US/all.js" id="facebook-jssdk"></script>
      	<script src="js/jquery-2.0.0.js"></script>
      	<script src="js/underscore.js"></script>
      	<script src="js/backbone.js"></script>
        <script src="js/backbone.bootstrap-modal.js"></script>
      	<script src="js/bootstrap.js"></script>
        <script src="js/facebook-user/src/FacebookUser.js"></script>

      	<script src="js/main.js"></script>
      	<script src="js/models.js"></script>
      	<script src="js/collections.js"></script>
      	<script src="js/views.js"></script>
      	<script src="js/router.js"></script>

      	<script>
      	new App.Router;
      	Backbone.history.start();

      	App.contacts = new App.Collections.Contacts;
      	App.contacts.fetch().then(function() {
      		new App.Views.App({ collection: App.contacts });
      	});
      	</script>
      </body>
      </html>